.feedback-img {
  border: 1px solid rgb(235, 235, 235);
  width: 150px;
  padding: 3px;
  border-radius: 100%;
}

.bannerImg {
  background: url(../../images/bike-bg.jpg);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  background-size: 100%;
}
